:host {
    display: block;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  h2 {
    margin: 14px;
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
  
      .container {
          padding: 30px 16px;
  
          .music-details {
              display: flex;
              margin: 10px;
  
              input[type=text], textarea {
                  width: 70%;
                  padding: 12px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  resize: vertical;
                  margin-left: 60px;
                }
  
                label {
                  width: 140px;
                  padding: 12px 12px 12px 0;
                  display: inline-block;
                }
          }
        }
  
        .page-footer {
          border: top;
          padding: 10px 0;
          display: flex;
          justify-content: flex-end;
          margin-right: 90px;
      
          button{
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer; 
            border-radius: 7px;
            padding: 10px;
          }
  
          .cancel {
              background-color: #ffff;
              border: 1px solid #632ef5;
              color: #632ef5;
          }
  
          .save {
              border: none;
              background-color: #632ef5;          
              color: white;
          }
        }
  }
