<div class="header" [ngStyle]="{'background-color': storybookClr}">
    <h2>  <img src="../../../assets/song.svg"/> <span>Music Share</span></h2>
    <div class="header-right">
            <button (click)="changeTheme()" [ngClass]="{'theme-dark': isDark}" [ngStyle]="{'background-color': storybookClr}"><img src="../../../assets/moon.svg"/></button>
            
        <div class="entry-btn">
            <button [ngStyle]="{'background-color': buttonClr}" class="login" (click)="logIn()">Login</button>
            <button [ngStyle]="{'background-color': buttonClr}" class="sign-up" (click)="signUp()">Register</button>
        </div>

    </div>
</div>