:host {
  display: block;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (min-width: 280px) and (max-width: 823px) {
 .wrapper {
   grid-template-columns: auto;
 }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: auto auto;
  }
}
