footer {
    padding: 10px;
    margin: auto;
    margin-top: 154px;
    text-align: center;
    color: #fff;
    background: #464a54;
    p {
      margin: 0 auto;
    }

    position: -webkit-sticky; /* Safari */  
    position: sticky;
  }
  
