:host {
  display: block;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;

      .error {
        color: red;
        font-size: 15px;
    }

      .alert {
          padding: 7px;
          background-color: rgb(247, 4, 4);
          color: black;

          .closebtn {
              margin-right: -115px;
              color: black;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }
            
            .closebtn:hover {
              color: white;
            }
        }
  
      .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
  
      .container {
          padding: 28px 22px;
        }
    }
  

Body {  
  font-family: Calibri, Helvetica, sans-serif;    
}  
button {   
       background-color: #632ef5;   
       width: 100%;  
        color: #ffff;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   

 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }
